.aboutSponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sponsors-text {
  color: var(--light);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.aboutSponsor > a > img {
  width: 200px;
  height: 200px;
  margin: 30px;
  transition: all 0.2s ease;
  border-radius: 50%;
}

.aboutSponsor > a > img:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
}
