::-webkit-scrollbar {
  display: none;
}
.aboutCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  position: relative;
  margin: 20px auto;
  text-align: justify;
  text-justify: inter-word;
}

.c {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.c img {
  width: 20vw;
  margin: 10px;
}

.c3 img {
  width: 14vw;
  margin: 10px;
  margin-left: 20px;
}

.c2 {
  flex-direction: row-reverse;
}

.c2 img {
}

.aboutCard-nam-messe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
}

.aboutCard > h2 {
  font-size: 35px;
}

.aboutCard > h2:hover {
  color: orangered;
  cursor: pointer;
}

.aboutCard-messege {
  font-style: normal;
  text-align: justify;
  font-size: 20px;
  transition: color 0.1s 0.3s ease-in-out;
  max-width: max-content;
}

.readbutton {
  color: var(--purple);
  cursor: pointer;
}

/* Media queries for ipad */
@media screen and (max-width: 768px) {
  .aboutCard {
    width: 90%;
  }

  .aboutCard-nam-messe {
    margin: 0 15px;
  }
}

/* Media queries for mobile */
@media screen and (max-width: 415px) {
  .aboutCard {
    width: 90%;
    flex-direction: column;
    padding: 10px;
  }

  .aboutCard-nam-messe {
    margin: 0 15px;
  }

  .c {
    flex-direction: column;
  }

  .c img {
    width: 20px;
  }

  .aboutCard > h2 {
    font-size: 32px;
    margin-left: 0px;
  }

  .aboutCard img {
    width: 150px;
    margin-bottom: 30px;
  }

  .aboutCard-massege {
    font-size: 17px;
  }
  .c3 img {
    width: 200px;
  }
}
