.aboutCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  position: relative;
  margin: 20px auto;
}

.aboutCard > h2 {
  font-size: 35px;
}

.aboutCard > h2:hover {
  color: orangered;
  cursor: pointer;
}

.aboutCard > img {
  width: 150px;
  height: 150px;
  filter: invert(100%);
  /* filter: sepia(10%); */
  /* filter: saturate(10%); */
  /* filter: hue-rotate(); */
  /* filter: brightness(); */
  /* filter: contrast(); */
  /* filter: grayscale(100%); */
}

.aboutCard > img:hover {
  cursor: pointer;
}

.aboutCard-messege {
  font-style: normal;
  font-size: 20px;
  padding: 10px;
  padding-left: 30px;
  text-align: center;
  transition: color 0.1s 0.3s ease-in-out;
  max-width: max-content;
}

.readbutton {
  color: orangered;
  cursor: pointer;
}

/* Media queries for ipad */
@media screen and (max-width: 768px) {
  .aboutCard {
    width: 90%;
  }
}

/* Media queries for mobile */
@media screen and (max-width: 415px) {
  .aboutCard {
    width: 90%;
    flex-direction: column;
    padding: 10px;
  }

  .aboutCard > h2 {
    font-size: 32px;
  }

  .aboutCard-massege {
    font-size: 17px;
  }
}

@keyframes easeIn {
}
