.aboutSponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutSponsor > img {
  width: 150px;
  height: 150px;
  filter: grayscale(100%) invert(100%);
  border: 7px solid #111;
  margin: 30px;
  transition-duration: 0.12s;
  transition-timing-function: ease-in-out;
  transition-property: all;
}

.aboutSponsor > img:hover {
  border-color: black;
  border-radius: 20px;
}

.aboutSponsor > h4:hover {
  color: orangered;
}
