.contactpage {
    background-color: #191919;
    color: #AAA;
}

.pict-map {
    min-height: calc(100vh - 71px);
    padding: 0px;
    filter: invert(90%);
}

.getintouch {
    padding-top: 2%;
    font-size: xx-large;
    font-weight: 800;
}

.maillink {
    font-size: 0.75rem;
}

.contactppl {
    text-align: center;
    font-size: 1.2rem;
}

.pplimages {
    padding: 0.5vw;
    margin: 1vw;
    border: 2px solid #FF5001;
}

.subbutton {
    background-color: #FF5001;
    border-color: #FF5001;
}

@media screen and (min-width: 1330px ) {
    .contactppl {
        font-size: 1.5rem;
    }

    .maillink {
        font-size: 1rem;
    }
}

.fdbkfrm {
    background-color: #050505 !important;
    color: #AAA !important;
}