:root {
  --primary: #231f20;
  --secondary: #646368;
  --tertiary: #b3aea0;
  --light: #efefef;
  --orange: #ee1f20;
  --red: #ee1f20;
  /* --red: #9c1415; */
  --border: #dd005a;
  --purple: #c344e7;
}

.height-full {
  height: 100vh !important;
  position: relative;
  padding-top: 10vh;
}

.modal-backdrop {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

.section-events {
  align-items: center;
  overflow-y: scroll !important;
}
.o-x-hide {
  overflow-x: hidden;
  /* background: linear-gradient(120deg, #000000, #36454f); */
  /* background: rgb(113, 36, 27);
  background: radial-gradient(
    circle,
    rgba(113, 36, 27, 1) 0%,
    rgba(0, 0, 0, 1) 92%
  ); */
  background: rgb(50, 42, 42);
  background: radial-gradient(
    circle,
    rgba(50, 42, 42, 1) 0%,
    rgba(20, 20, 20, 1) 53%
  );
}
.container {
  height: 100%;
}
.m-mb {
  margin-bottom: 20px;
}

.cards-wrapper {
  overflow-y: scroll;
}

.not-displayed {
  display: none;
  transition: ease-in-out 1s;
  scroll-behavior: smooth;
}

.main-content-card,
.side-content-card {
  height: 50vh;
  margin-top: 10vh;
}

.main-wrapper {
  background-image: url("../images/main.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* width: 420px; */
  min-height: 12rem;
  transition: box-shadow 0.3s;
  margin: 0;
  padding: 0;
  position: relative;
}

.new-line {
  white-space: pre;
}

.modal-header,
.modal-content {
  background-color: var(--primary);
  font-size: 12px !important;
}

.modal-logo-img {
  filter: invert(93%) sepia(100%) saturate(2%) hue-rotate(270deg)
    brightness(107%) contrast(101%);
}
.modal-icon-text {
  color: var(--light);
  display: flex;
  align-items: center;
}
.modal-tab-link,
li .nav-link {
  color: var(--light);
}

li .nav-link {
  padding: 0.5rem 0.5rem;
}

.main-wrapper:hover {
  box-shadow: 0 0 10px rgba(255, 60, 60, 0.918);
}

.main-container {
  background-color: transparent;
}

.main-text {
  overflow-y: scroll;
  height: 100%;
  margin-top: 5px;
  color: var(--light);
  text-align: justify;
}

.main-heading {
  color: var(--light);
  position: absolute;
  font-weight: 700;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0);
}
::-webkit-scrollbar {
  display: none;
}

.tab-up {
  /* background-image: url("../images/middle .png"); */
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100%;
  width: 70%;
  transition: box-shadow 0.3s;
  clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, 10% 110%, -10% 40%);
  background-color: var(--orange);
  cursor: pointer;
}

.tab-up:hover {
  box-shadow: 0 0 10px rgba(255, 60, 60, 0.918);
}
.tab-down {
  /* background-image: url("../images/right and left.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100%;
  width: 70%;
  transition: box-shadow 0.3s;
  clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, 10% 110%, -10% 40%);
  cursor: pointer;
}

.tab-down:hover {
  box-shadow: 0 0 10px rgba(255, 60, 60, 0.918);
}

.rectangle {
  background-image: url("../images/rectangle_1.png");
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  transition: box-shadow 0.3s;
}

.rectangle:hover {
  box-shadow: 0 0 10px rgba(255, 60, 60, 0.918);
}

.slick-prev {
  left: 10px;
  z-index: 10000;
}
.slick-next {
  right: 10px;
}

.slick-dots li button:before {
  color: var(--light);
  opacity: 0.5;
}

.tabButton {
  width: 80%;
  height: 120%;
  /* clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, 10% 110%, -10% 40%); */
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  outline: 2px solid var(--red);
  transition: all 0.2s ease-in-out;
}
.tabButton:hover,
.tabButton:focus {
  background-color: var(--red);
}

.activeTab {
  background-color: var(--red) !important;
}

.tabButton:hover {
  box-shadow: 0 0 20px rgba(255, 60, 60, 0.918);
}

.slick-dots li.slick-active button:before {
  color: var(--light);
  transform: scale(2);
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.slick-prev:before,
.slick-next:before {
  color: var(--light);
}

@media (max-width: 2560px) {
  .main-wrapper {
    width: 50vw;
    height: 47vh;
  }
  .container-inside {
    padding: 45px;
    padding-bottom: 87px;
  }
  .main-heading {
    /* bottom: 0;
    transform: translate(-50%, 0);
    margin-bottom: 20px; */
  }
  .main-text {
    margin-bottom: 10vw;
  }
}

@media (max-width: 1920px) {
  .main-wrapper {
    width: 50vw;
    height: 47vh;
  }
  .container-inside {
    padding: 45px;
    padding-bottom: 87px;
  }
  .main-heading {
    /* bottom: 0;
    transform: translate(-50%, 0);
    margin-bottom: 20px; */
  }
  .main-text {
    margin-bottom: 2vw;
  }
}

@media (max-width: 1440px) {
  .main-wrapper {
    width: 50vw;
    height: 38vh;
  }
  .container-inside {
    padding: 3vw;
    padding-bottom: 13vw;
  }
  .main-heading {
    /* bottom: 0%;
    transform: translate(-50%, 0%);
    margin-bottom: 35px; */
  }
  .main-text {
    margin-bottom: 4vw;
  }
}

@media (max-width: 1024px) {
  .main-wrapper {
    width: 45vw;
    height: 32.5vh;
  }
  .container-inside {
    padding: 3vw;
    padding-bottom: 19vw;
  }
  .main-heading {
    /* bottom: 0;
    transform: translate(-50%, 0);
    margin-bottom: 5px; */
  }
  .main-text {
    margin-bottom: 3vw;
  }
}

@media (max-width: 768px) {
  .height-full {
    height: fit-content;
    width: 100%;
  }
  .main-wrapper {
    width: 20vw;
  }
  .section-events {
    overflow-y: scroll;
  }
  .main-wrapper {
    display: none;
  }
  .tab-group {
    display: none !important;
  }
  .modal-backdrop {
    width: fit-content !important;
    height: fit-content !important;
  }
}
