.height-full {
  height: 92vh;
}
.section-home {
  /* position: absolute; */
}
.o-x-hide {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-mb {
  margin-bottom: 20px;
}
.overlay-black {
  position: relative;
}
.video-container:before {
  background: rgba(0, 0, 0, 0.5) !important;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.videoTag {
  width: 100%;
  height: 100%;
  /* overflow-y: hidden; */
  /* display: block; */
}
.video-container {
  height: 100vh;
  width: 100%;
  position: relative;
}
.video-container video {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}
.video-container .credenz-logo {
  z-index: 4;
  position: relative;
  text-align: center;
  top: 20%;
  left: 25%;
  height: 400px;
  background: rgba(0, 0, 0, 0.3) !important;
}

@media (max-width: 768px) {
  .height-full {
    height: fit-content;
    width: 100%;
  }
}
