@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
:root {
  --purple: #c344e7;
}
.navbar-wrapper {
  width: 100%;
  height: 8vh;
  box-shadow: rgb(2 1 1 / 10%) 0px 5px 20px -5px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(10 px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.header-header {
  font-size: 30px !important;
  font-weight: 700;
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 0.1em;
}
.header-title {
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
  size: 24px;
  font-weight: 700;
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 0.12em;
}
.header-title:active {
  transition: 0.2s ease-in-out;
}

.header-title:hover {
  /* color: #ec4e00; */
  color: var(--purple);
  text-decoration: none;
  padding: 0 15px;
  size: 24px;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}

.nav-logo {
  cursor: pointer;
  height: 2rem;
  width: 6rem;
}

@media (max-width: 767px) {
  .navbar-wrapper {
    width: 100%;
    height: auto;
  }
  .logo-ieee {
    display: none;
  }
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
