.bg-dark2 {
  background: radial-gradient(
    circle,
    rgba(50, 42, 42, 1) 0%,
    rgba(20, 20, 20, 1) 53%
  );
  padding-top: 14vh;
  height: 100vh !important;
  overflow-y: hidden;
}

.personalCardContainer {
  clip-path: polygon(0 0, 93% 0, 100% 8%, 100% 100%, 8% 100%, 0 93%);
  height: 70.5vh;
  width: 100%;
  background-color: #ee1f20;
  position: relative;
}

.personalCard {
  position: absolute;
  top: 0.25vh;
  left: 0.5%;
  clip-path: polygon(0 0, 93% 0, 100% 8%, 100% 100%, 8% 100%, 0 93%);
  height: 70vh;
  width: 99%;
  background-color: #231f20;
  color: #fff;
}

.imgContainer {
  height: 150px;
  width: 150px;
  border: 1px solid #fff;
  border-radius: 75px;
}

.userName {
  font-style: italic;
}

.itemContainer {
  margin: 0 auto;
  width: 80%;
}

.itemRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2vh;
}

.detailText {
  overflow: hidden;
  text-overflow: ellipsis;
}

.commonIcon {
  height: 20px;
  width: 20px;
}

.secondContainer {
  overflow-y: scroll !important;
  max-height: 70vh;
}

.heading {
  color: #fff;
  text-align: center;
}

.outer {
  margin-bottom: 0 !important;
}

@media (max-width: 768px) {
  .bg-dark {
    overflow: scroll;
  }
  .secondContainer {
    max-height: fit-content;
    margin-bottom: 120px;
  }
}
