@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
@font-face {
  font-family: "SolThin";
  src: url("../CSS/solthinregular.ttf");
}
* {
  font-family: "SolThin", sans-serif;
}
